* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
 
}
 
.container {
  width: 90%;
  margin: auto;
}
 
header {
  background: #fff;
  padding: 15px 0;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: top 0.4s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
 
 
.logo img {
  height: 45px;
  margin-left: -40px;
}
 
 
header .container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
 
header .search {
  flex: 0.6;
  margin: 0 20px;
  position: relative;
  display: flex;
  align-items: center;
 
}
 
header .search input {
  width: 100%;
  padding: 8px 35px 8px 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}
 
header .search i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #3e90aa;
}
 
header nav a,
header nav i {
  margin-left: 20px;
  color: #0c688d;
  text-decoration: none;
  margin-right: 20px;
}
 
nav {
    display: flex;
  align-items: center;
}
.nav-v {
  display: flex;
  align-items: center;
}
 
.nav-v a {
  position: relative;
  color: #2e5077;
  transition: color 0.3s;
  font-weight: 500;
  text-decoration: none;
  padding: 4px 10px;
}
 
.nav-v a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #4da1a9;
  transition: width 0.4s;
}
 
.nav-v a:hover {
  color: #4da1a9;
  animation: navFade 0.5s;
}
 
.nav-v a:hover::after {
  width: 100%;
}
 
@keyframes navFade {
  0% { opacity: 0; transform: translateY(-8px);}
  100% { opacity: 1; transform: translateY(0);}
}
 
.nav-btn{
  background:#acd7e8;
  color:#050505;
  border:none;
  border-radius:50%;
  width:30px;
  height:30px;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  margin-left:15px;
  transition:0.25s;
  transform: scale(1);
  gap:15px;
 
}
 
.nav-btn:hover{
  background:#4da1a9;
  transform:translateY(-3px) scale(1.05);  
    box-shadow:0 6px 15px rgba(0,0,0,0.2);  
}
.nav-btn:active{
  transform: scale(0.9);  
  box-shadow: none;  
}
 
/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}
 
.dropbtn {
  background: none;
  border: none;
  color: #2e5077;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  padding: 4px 10px;
  transition: color 0.3s;
}
 
.dropbtn:hover {
  color: #4da1a9;
}
 
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 6px;
  z-index: 1000;
}
 
.dropdown-content a {
  color: #2e5077;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  transition: background 0.3s, color 0.3s;
}
 
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #4da1a9;
}
 
.dropdown:hover .dropdown-content {
  display: block;
}
 
 /* == Rentals section == */
.rentals{
  text-align: center;
  padding: 40px 0;
}
.rental-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
}
 
.rentals h2 {
  color: #105b79;
  font-size: 29px;
  margin-bottom: 10px;
  font-weight: 600;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s ease-out forwards;
}

/* Animation Keyframes */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.rentals p{
  color:  #2d2f2f;
  font-size: 15px;
}
 
/* ===== clothes Button ===== */
.clothes-btn {
  position: absolute;
  left: 0;
  transform: translateX(70%);
  background:#57cfcf5f;  
  color:  #1c6e76;
  border: none;
  padding: 8px 20px;
  border-radius: 15px;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
 
}
 
.clothes-btn:hover {
  background: #256674;
}
  /* responsive for small screens */
 
@media (max-width: 900px) {
  .rental-top {
    flex-direction: column;
    gap: 10px;
  }
 
  .rental-top h2 {
    font-size: 20px; /* يصغر الخط */
  }
 
  .clothes-btn{
    font-size: 12px;
    padding: 6px 15px;
  }
}
 
/* products section */
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product-card {
  background: #fff;
  border: 1.5px solid #d4d3d3;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  transition: transform 0.3s;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(12, 104, 141, 0.2);
  height: 500PX;
  width: 300PX;
}
 
.product-card:hover {
  transform: translateY(-5px);
}
.product-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
.product-card h3 {
  color: #186685;
  margin:10px 0;
  font-size: 18px;
}
.product-card p {
  color:#374151;
  font-size: 14px;
  margin-bottom: 10px;
}
.product-card .price {
  color: #4DA1A9;
  font-weight: bold;
  margin-bottom: 15px;
  display: block;
}
.rent-btn {
  background: #186685;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s, transform 0.2s;
}
.rent-btn:hover {
  background: #0c688d;
  transform: translateY(-2px);
}
 /* pagination */
.pagination {
      display: flex;
      justify-content: center;
      padding: 10px 0;
      list-style: none;
      gap: 10px;
      margin-bottom: 20px;
    }
 
    .pagination li {
      display: inline-block;
    }
 
    .pagination a {
      display: block;
      padding: 6px 10px;
      border-radius: 50%;
      background: #f2f2f2;
      color: #186685;
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
      transition: 0.3s;
    }
 
    .pagination a:hover {
      background: #9ae8d8;
      color: #186685;
    }
 
    .pagination .active a {
      background: #87e2d0;
      color: #186685;
    }
/* ===== Footer ===== */
 
 
main{
  flex: 1;
}
.footer {
  background-color: #224b74;
  color: #fff;
  padding: 40px 0;
  width: 100%;
  clear: both;
  position: relative;
  display: inline-block;
  margin-top: auto;
}
 
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}
 
 
 
.footer-section {
  flex: 1 1 200px;
  margin-bottom: 20px;
  font-size: 16px;
  display: inline-block;
}
.footer-section p {
 font-size: 15px;
  color: white;
}
 
.footer-section h4 {
  margin-bottom: 10px;
}
 
.footer-section ul {
  list-style: none;
  padding: 0;
}
 
.footer-section ul li {
  margin-bottom: 8px;
}
 
.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
 
.footer-section ul li a:hover {
  text-decoration: underline;
}
 
.footer-section ul p {
  font-size: 18px;
  font-weight: bold;
  color: #A5E3D6;
}
 
/* Logo in footer */
.footer .logo {
  width: 250px;
  margin-bottom: 6px;
}
 
/* Social Icons */
.social-icons a {
  color: #A5E3D6;
  font-size: 20px;
  margin-right: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}
 
.social-icons a:hover {
  color: #8ab4f8;
  transform: scale(1.2);
}
 
/* Contact Section */
.footer-contact {
  max-width: 800px;
  margin: auto;
  padding: 25px;
  border: 1px solid #466d95;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
 
.footer-contact a {
  color: #8ab4f8;
  text-decoration: none;
  margin-left: 25px;
}
 
.footer-contact a:hover {
  text-decoration: underline;
}
.phone{
  width: 32px;
}
.callcenter{
  width: 30px;
}
 
/* Bottom Section */
.footer-bottom {
  max-width: 1200px;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #466d95;
  padding-top: 10px;
}
 
.footer-bottom p {
  font-size: 13px;
  margin: 10px 0;
}
 
/* Payment Icons */
.payment-icons a {
  color: #fff;
  font-size: 32px;
  margin-right: 15px;
  transition: color 0.3s ease, transform 0.3s ease;
}
 
.payment-icons a:hover {
  color: #8ab4f8;
  transform: scale(1.2);
}
 
.phone-icon {
  width: 30px;
}
 
.email-icon {
  width: 30px;
}
 
/* ===== Responsive ===== */
@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .footer-container {
    flex-direction: column;
  }
  .footer-contact {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
  .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}
