 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Inter', sans-serif;
    }

   .container {
  width: 90%;
  margin: auto;
}



header {
  background: #fff;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  transition: top 0.4s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.logo img {
  height: 55px; 
  margin-left: -40px;
}


header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .search {
  flex: 0.6;
  margin: 0px 20px;
  margin-top: 20px;
  position: relative;
  
}

header .search input {
  width: 100%;
  padding: 8px 35px 8px 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
}
header .search p{
  color: red;
  visibility:hidden;
  font-size: 12px;
}

header .search i {
  position: absolute;
  right: 12px;
  top: 30%;
  transform: translateY(-50%);
  color: #3e90aa;
}

header nav a,
header nav i {
  margin-left: 20px;
  color: #0c688d;
  text-decoration: none;
  margin-right: 20px;
}

nav {
    display: flex;
  align-items: center;
}
.nav-v {
  display: flex;
  align-items: center;
}

.nav-v a {
  position: relative;
  color: #2e5077;
  transition: color 0.3s;
  font-weight: 500;
  text-decoration: none;
  padding: 4px 10px;
}

.nav-v a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #4da1a9;
  transition: width 0.4s;
}

.nav-v a:hover {
  color: #4da1a9;
  animation: navFade 0.5s;
}

.nav-v a:hover::after {
  width: 100%;
}

@keyframes navFade {
  0% { opacity: 0; transform: translateY(-8px);}
  100% { opacity: 1; transform: translateY(0);}
}

.nav-btn{
  background:#acd7e8;
  color:#050505;
  border:none;
  border-radius:50%;
  width:30px;
  height:30px;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  margin-left:15px;
  transition:0.25s;
  transform: scale(1);
  gap:15px;

}

.nav-btn:hover{
  background:#4da1a9;
  transform:translateY(-3px) scale(1.05);   
    box-shadow:0 6px 15px rgba(0,0,0,0.2);  
}
.nav-btn:active{
  transform: scale(0.9);   
  box-shadow: none;   
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background: none;
  border: none;
  color: #2e5077;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  padding: 4px 10px;
  transition: color 0.3s;
}

.dropbtn:hover {
  color: #4da1a9;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 6px;
  z-index: 1000;
}

.dropdown-content a {
  color: #2e5077;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  transition: background 0.3s, color 0.3s;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #4da1a9;
}

.dropdown:hover .dropdown-content {
  display: block;
}


    

    h1 {
      text-align: center;
      font-size: 2rem;
      color: #274165;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      animation: fadeInDown 1s ease;
    }

    @keyframes fadeInDown {
      from {
        opacity: 0;
        transform: translateY(-40px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    p.sub-heading {
      text-align: center;
      color: #555;
      margin-top: 5px;
      font-size: 1rem;
    }

    p.date {
      text-align: center;
      color: #514d4d;
      margin-top: 8px;
      margin-bottom: 25px;
      font-size: 0.9rem;
    }

    .card {
        background: #ffffffef;
        border: 1px solid #dce7f0;
        border-radius: 10px;
        padding: 10px 25px;
        margin-bottom: 25px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.05);
        gap: 10px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    

    .card:hover .section-title {
        color: #22b3a6;
    }
    .section-title {
      font-size: 1.2rem;
      color: #1a365d;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .section-title i {
      color: #22b3a6;
      font-size: 1.3rem;
    }

    .definitions p {
      margin: 10px 0;
      padding-left: 10px;
      border-left: 3px solid #22b3a6; 
    }

    .definitions span {
      font-weight: 600;
      color: #0a5275;
    }
    .note {
      background: #e6f8f7;
      padding: 10px 15px;
      border-radius: 6px;
      color: #0a6660;
      font-size: 0.9rem;
      display: flex;
      align-items: center;
      gap: 8px;
      margin-top: 15px;
    }

    .note i {
      color: #0aa398;
    }

    .obligations {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      flex-wrap: wrap;
    }

    .obligations ul {
      list-style: none;
      padding-left: 0;
    }

    .obligations li {
      margin: 8px 0;
      color: #2c3e50;
    }

    .obligations li i {
      color: #22b372;
      margin-right: 8px;
    }

    .highlight {
      font-weight: 600;
      color: #0a5275;
    }
    /* ===== Footer ===== */


main{
  flex: 1;
}
.footer {
  background-color: #224b74;
  color: #fff;
  padding: 40px 0;
  width: 100%;
  clear: both;
  position: relative;
  display: inline-block;
  margin-top: auto;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}



.footer-section {
  flex: 1 1 200px;
  margin-bottom: 20px;
  font-size: 16px;
  display: inline-block;
}
.footer-section p {
 font-size: 15px;
  color: white;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section ul p {
  font-size: 18px;
  font-weight: bold;
  color: #A5E3D6;
}

/* Logo in footer */
.footer .logo {
  width: 250px;
  margin-bottom: 6px;
}

/* Social Icons */
.social-icons a {
  color: #A5E3D6;
  font-size: 20px;
  margin-right: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  color: #8ab4f8;
  transform: scale(1.2);
}

/* Contact Section */
.footer-contact {
  max-width: 800px;
  margin: auto;
  padding: 25px;
  border: 1px solid #466d95;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-contact a {
  color: #8ab4f8;
  text-decoration: none;
  margin-left: 25px;
}

.footer-contact a:hover {
  text-decoration: underline;
}
.phone{
  width: 32px;
}
.callcenter{
  width: 30px;
}

/* Bottom Section */
.footer-bottom {
  max-width: 1200px;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #466d95;
  padding-top: 10px;
}

.footer-bottom p {
  font-size: 13px;
  margin: 10px 0;
}

/* Payment Icons */
.payment-icons a {
  color: #fff;
  font-size: 32px;
  margin-right: 15px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.payment-icons a:hover {
  color: #8ab4f8;
  transform: scale(1.2);
}

.phone-icon {
  width: 30px;
}

.email-icon {
  width: 30px;
}

@media(max-width:450px)
{
  h1
  {
    margin: 40px 0 20px 0;
  }
 .sub-heading
 {
  padding: 0 15px;
 } 
}
@media(max-width:400px)
{
  h1
  {
    font-size: larger !important;
    margin: 40px 0 20px 0;
  }
 .sub-heading
 {
  padding: 0 5%;
 } 
}