* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  
}


.container {
  width: 90%;
  margin: auto;
}

header {
  background: #fff;
  padding: 15px 0;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: top 0.4s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.logo img {
  height: 45px; 
  margin-left: -40px;
}


header .container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

header .search {
  flex: 0.6;
  margin: 0 20px;
  position: relative;
  display: flex;
  align-items: center;
  
}

header .search input {
  width: 100%;
  padding: 8px 35px 8px 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

header .search i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #3e90aa;
}

header nav a,
header nav i {
  margin-left: 20px;
  color: #0c688d;
  text-decoration: none;
  margin-right: 20px;
}

nav {
    display: flex;
  align-items: center;
}
.nav-v {
  display: flex;
  align-items: center;
}

.nav-v a {
  position: relative;
  color: #2e5077;
  transition: color 0.3s;
  font-weight: 500;
  text-decoration: none;
  padding: 4px 10px;
}

.nav-v a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #4da1a9;
  transition: width 0.4s;
}

.nav-v a:hover {
  color: #4da1a9;
  animation: navFade 0.5s;
}

.nav-v a:hover::after {
  width: 100%;
}

@keyframes navFade {
  0% { opacity: 0; transform: translateY(-8px);}
  100% { opacity: 1; transform: translateY(0);}
}

.nav-btn{
  background:#acd7e8;
  color:#050505;
  border:none;
  border-radius:50%;
  width:30px;
  height:30px;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  margin-left:15px;
  transition:0.25s;
  transform: scale(1);
  gap:15px;

}

.nav-btn:hover{
  background:#4da1a9;
  transform:translateY(-3px) scale(1.05);   
    box-shadow:0 6px 15px rgba(0,0,0,0.2);  
}
.nav-btn:active{
  transform: scale(0.9);   
  box-shadow: none;   
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background: none;
  border: none;
  color: #2e5077;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  padding: 4px 10px;
  transition: color 0.3s;
}

.dropbtn:hover {
  color: #4da1a9;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 6px;
  z-index: 1000;
}

.dropdown-content a {
  color: #2e5077;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  transition: background 0.3s, color 0.3s;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #4da1a9;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* --- Sidebar --- */
.sidebar {
width: 250px;
background: linear-gradient(#59b0b9, #2E5077);
min-height: 100vh;
padding-left: 15px;
padding-right: 15px;
position: fixed;
top: 78px; /* ارتفاع الهيدر */

}
.profile-container {
background: #fff;
color: #2E5077;
border-radius: 10px;
padding: 20px;
box-shadow: 0 2px 5px rgba(0,0,0,0.2);
margin-bottom: 30px;
margin-top: 10px;

}
 /* img */
.admin-profile {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  margin-left: 60px;
}

.profile-container h3 {
margin-bottom: 15px;
color: #2E5077;
text-align: center;
}
.profile-container p {
margin-top: 16px;
}


.profile-container button { 

    background: #375f8d;
    color: #fff;
    border: none;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.profile-container button:hover {
background: #0a3757;
transform: translateY(-2px);
transition: all 0.3s ease;
}

.profile-container button img {
  margin-right: 2px;
  vertical-align: middle;
  width: 17px;
  height: 15px;
}
.profile-container button.edit {
 margin-top: 25px; 
}
.profile-container button.logout {
  margin-left: 15px;
}

.menu {
margin-top: 20px;
}
.menu a {
display: block;
color: #fff;
padding: 10px;
text-decoration: none;
border-radius: 5px;
transition: 0.3s;
}
.menu a img {
  margin-right: 8px;
  vertical-align: middle;
}
.menu a:hover, .menu a.active {
background: rgba(255,255,255,0.2);
}

/* --- Main Content --- */
  .main {
  flex: 1;
  padding: 20px;
  margin-left: 270px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color:#375f8d ;
}
.stats {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  width: 95%;
}

.stat {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  flex: 1;
  color: #375f8d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.stat img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: 0;
}

.add-payment-btn {
    
    background:#59b0b9;
    color: #fff;
    border: none;
    padding: 8px 12px;
    margin: 14px;
    margin-right: 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    float: right;
 
}

.add-payment-btn:hover {
background: #37a3af;
transform: translateY(-2px);
transition: all 0.3s ease;
}

.add-payment-btn img {
  margin-right: 5px;
  vertical-align: middle;
  width: 15px;
  height: 15px;
}

/* users toolbar */
.users-toolbar {
    width: 95%;
    background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  flex: 1;
  color: #375f8d;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 .search-box {
  flex: 0.4;
  margin: 0 20px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;

}

 .search-box input {
  width: 100%;
  padding: 8px 35px 8px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

 .search-box i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #3e90aa;
}
/* Dropdown */
.dropdown-filter {
  position: relative;
  display: inline-block;
}

.filterbtn {
  background: white;
  border: 1px solid #ccc;
  padding: 9px 16px;
  border-radius: 7px;
  color: #2e5077;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  gap: 8px;
  transition: background 0.3s, border 0.3s  ;

}

.filterbtn:hover {
background: #4da1a9;
transform: translateY(-2px);
transition: all 0.3s ease;
}

.dropdown-content-filter {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 6px;
  z-index: 1000;
}

.dropdown-content-filter a {
  color: #2e5077;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  transition: background 0.3s, color 0.3s;
}

.dropdown-content-filter a:hover {
  background-color: #f1f1f1;
  color: #4da1a9;
}

.dropdown-filter:hover .dropdown-content-filter {
  display: block;
}

.filterbtn img {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 5px ;
}

/* users table */
table {
  width: 95%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin: 30px 10px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #0c688d;
}

th {
  background: #f9f9f9;
}

.active-button {
    background-color: #DCFCE7;
  color: #166534;
  font-weight: bold;
  padding: 8px;
  border-radius: 15px;
  border: none;
}

.inactive-button {
    background-color: #FF7B7B47;
  color: #E30000;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  padding: 8px;
}

.actions button {
  margin: 0 3px;
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 5px;
}

.actions img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px ;
}

.actions .view{
    background: white;
    color: #4A90A4;
   margin-bottom: 10px;
   font-size: 15px;
   font-weight: bold;
}

.footer-container {
    background-color: linear-gradient(to right, #4da1a9, #87e2d0);
    padding: 20px 0;
    text-align: center;
    color: white;
}

