.container {
  width: 90%;
  margin: auto;
}

header {
  background: #fff;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  transition: top 0.4s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.logo img {
  height: 70px; 
  margin-left: -40px;
}


header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .search {
  flex: 0.6;
  margin: 0px 20px;
  margin-top: 20px;
  position: relative;
}

header .search input {
  width: 100%;
  padding: 8px 35px 8px 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
}
header .search p{
  color: red;
  visibility:hidden;
  font-size: 12px;
}

header .search i {
  position: absolute;
  right: 12px;
  top: 30%;
  transform: translateY(-50%);
  color: #3e90aa;
}

header nav a,
header nav i {
  margin-left: 20px;
  color: #0c688d;
  text-decoration: none;
  margin-right: 20px;
}

nav {
    display: flex;
    align-items: center;
}
.nav-v {
  display: flex;
  align-items: center;
}

.nav-v a {
  position: relative;
  color: #2e5077;
  transition: color 0.3s;
  font-weight: 500;
  text-decoration: none;
  padding: 4px 10px;
}

.nav-v a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #4da1a9;
  transition: width 0.4s;
}

.nav-v a:hover {
  color: #4da1a9;
  animation: navFade 0.5s;
}

.nav-v a:hover::after {
  width: 100%;
}

@keyframes navFade {
  0% { opacity: 0; transform: translateY(-8px);}
  100% { opacity: 1; transform: translateY(0);}
}

.nav-btn{
  background:#acd7e8;
  color:#050505;
  border:none;
  border-radius:50%;
  width:30px;
  height:30px;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  margin-left:15px;
  transition:0.25s;
  transform: scale(1);
  gap:15px;

}

.nav-btn:hover{
  background:#4da1a9;
  transform:translateY(-3px) scale(1.05);   
    box-shadow:0 6px 15px rgba(0,0,0,0.2);  
}
.nav-btn:active{
  transform: scale(0.9);   
  box-shadow: none;   
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background: none;
  border: none;
  color: #2e5077;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  padding: 4px 10px;
  transition: color 0.3s;
}

.dropbtn:hover {
  color: #4da1a9;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 6px;
  z-index: 1000;
}

.dropdown-content a {
  color: #2e5077;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  transition: background 0.3s, color 0.3s;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #4da1a9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

main {
    width: 100%;
    margin: 30px 0;
}

.product-details {
    color: white;
    background-color: #2E5077;
    padding: 16px 72px;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 12px;
}

.product-details p {
    margin-left: 20px;
    font-weight: 600;
    font-size: 18px;
}

.product-details a {
    text-decoration: none;
    color: #ffffff;
}

.details-main {
    padding: 0 5%;
    display: grid;
    justify-items: center;
    background-color: white;
}

.product-box {
    padding: 3% 1%;
    padding-bottom: 0 !important;
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 10%;
}

.porduct-img {
    display: flex;
    justify-content: center;
    border-radius: 16px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.178);
    width: 100%;
    height: 320px;
}
.porduct-img img
{
    width: 100%;
    height: 100%;
}

.product-box div img {
    border-radius: 16px;
}

.product-box .sm-imgs img {
    margin: 20px 0;
    width: 85px;
    height: 85px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.178);
}

.sm-imgs img {
    width: 22% !important;
    height: 100px !important;
}

.sm-imgs {
    display: flex;
    justify-content: space-around;
}

.condition {
    display: flex;
    justify-content: space-between;
}

.condition p {
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 9999px;
    color: #4B5563;
    background-color: #79D7BE26;
    font-size: 13px;
    width: 22%;
    height: 28px;
    text-align: center;
}

.product-name {
    margin-top: 15px;
    color: #2E5077;
    font-weight: 700;
    font-size: 24px;
}

.stars {
    margin: 5px 0;
    color: #FACC15;
}

.stars span {
    color: #4B5563;
    font-size: 14px;
    font-weight: 400;
}

.price-box {
    background-color: #F6F4F0;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 12px;
    margin: 30px 0;
    padding: 15px 24px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.177);
}

.price-box p {
    color: #2E5077;
    font-weight: 700;
    font-size: 24px;
}

.price-box span {
    color: #4B5563;
    font-size: 16px;
    font-weight: 500;
}

.availability,
.product-location {
    background-color: #F6F4F0;
    gap: 15px;
    border-radius: 12px;
    margin: 30px 0;
    padding: 15px 24px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.177);
}

.availability .h {
    color: #2E5077;
    font-size: 20px;
    font-weight: 600;
}

.availability div p {
    color: #374151;
    font-size: 15px;
    font-weight: 600;
    margin: 8px 0;
}

.date-box {
    border-radius: 8px;
    outline: none;
    border: 1px solid #E5E7EB;
    width: 249px;
    height: 35px;
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #111827;
    background-color: white;
    padding: 15px;
    display: flex;
    align-items: center;
}

.date {
    display: flex;
    align-items: center;
    gap: 30px;
}

.product-location p {
    font-size: 20px;
    font-weight: 600;
    color: #2E5077;
}

.product-location div i {
    color: #4B9FA6;
}

.product-location div span {
    color: #111827;
    font-size: 18px;
    font-weight: 500;
}

.product-location div p {
    color: #4B5563;
    font-size: 14px;
    font-weight: 400;
}

.location-map {
    color: #9CA3AF !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    width: 100%;
    height: 117px;
    margin: 20px 0;
    border-radius: 8px;
}

.btn-div {
    display: flex;
    justify-content: center;
}

.add-to-cart {
    margin: 20px 0;
    background-color: #2E5077;
    color: #ffffff;
    text-align: center;
    width: 250px;
    height: 40px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: ease-in-out 0.2s;
}

.add-to-cart:hover {
    background-color: #436fa1;
}

.description-div {
    display: flex;
    justify-content: center;
}

.description-box {
    width: 93%;
    background-color: #F6F4F0;
    gap: 15px;
    border-radius: 12px;
    margin: 30px 0 100px 0;
    padding: 15px 24px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.177);
}

.description-h {
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
}

.description-p {
    color: #374151;
    font-size: 15px;
    font-weight: 500;
}

.included {
    color: #2E5077;
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0;
}

.check-icon {
    color: #79D7BE;
    margin-right: 8px;
}

.included-p {
    color: #000000;
    margin: 8px;
    font-weight: 500;
}

.sm-img
{
    cursor: pointer;
    transition: ease 0.2s;
}

.sm-img:hover
{
    opacity: 0.9;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.4) !important;
}
.modal
{
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all ease-in-out 0.1s;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}
.modal.open
{
    opacity: 1;
    z-index: 999;
}
.inner-modal img {
    min-width: 400px;
    min-height: 400px;
    max-width: 90vw;
    max-height: 90vh;
}
.inner-modal div
{
    text-align: center;
    font-size: 20px;
}

.close-icon
{
    color: #000;
    cursor: pointer;
    transition: all ease 0.2s;
}
.close-icon:hover
{
    text-shadow: 3px 3px 5px #fff;
    cursor: pointer;
}
.cart-box
{
    position: relative;
}
#count
{
    position: absolute;
    z-index: 999;
    left: 60%;
    top: -12px;
    border-radius: 50%;
    background-color: #4DA1A9;
    padding: 3px 6px;
    color: #fff;
}


.footer {
  background-color: #224b74;
  color: #fff;
  padding: 40px 0;
  width: 100%;
  clear: both;
  position: relative;
  display: inline-block;
  margin-top: auto;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}



.footer-section {
  flex: 1 1 200px;
  margin-bottom: 20px;
  font-size: 16px;
  display: inline-block;
}
.footer-section p {
 font-size: 15px;
  color: white;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section ul p {
  font-size: 18px;
  font-weight: bold;
  color: #A5E3D6;
}

/* Logo in footer */
.footer .logo {
  width: 250px;
  margin-bottom: 6px;
}

/* Social Icons */
.social-icons a {
  color: #A5E3D6;
  font-size: 20px;
  margin-right: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  color: #8ab4f8;
  transform: scale(1.2);
}

/* Contact Section */
.footer-contact {
  max-width: 800px;
  margin: auto;
  padding: 25px;
  border: 1px solid #466d95;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-contact a {
  color: #8ab4f8;
  text-decoration: none;
  margin-left: 25px;
}

.footer-contact a:hover {
  text-decoration: underline;
}
.phone{
  width: 32px;
}
.callcenter{
  width: 30px;
}

/* Bottom Section */
.footer-bottom {
  max-width: 1200px;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #466d95;
  padding-top: 10px;
}

.footer-bottom p {
  font-size: 13px;
  margin: 10px 0;
}

/* Payment Icons */
.payment-icons a {
  color: #fff;
  font-size: 32px;
  margin-right: 15px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.payment-icons a:hover {
  color: #8ab4f8;
  transform: scale(1.2);
}

.phone-icon {
  width: 30px;
}

.email-icon {
  width: 30px;
}

/* ===== Responsive ===== */
@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .footer-container {
    flex-direction: column;
  }
  .footer-contact {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
  .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}
