
@media (max-width: 1200px) {
  .product-box {
    gap: 80px;
    padding: 30px;
  }

  .porduct-img img {
    width: 400px;
    height: auto;
  }

  .date-box {
    width: 200px;
  }
}

@media (max-width: 1100px) {
  .details-main {
    padding: 0 40px;
  }

  .product-box {
    gap: 40px;
  }

  .porduct-img img {
    width: 100%;
    height: auto;
  }

  .sm-imgs {
    display: flex;
    gap: 4%;
    flex-wrap: wrap;
    justify-content: start;
  }

  .sm-imgs img {
    width: 70px !important;
    height: 70px !important;
  }
  
  .date {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
    
    .date-box {
        width: 100%;
    }
}
@media (max-width: 667px) {

    .product-box
    {
        flex-direction: column-reverse;
        padding: 10px 5px;
    }
    .porduct-img
    { 
        width: 100%;
    }
    .porduct-img img
    {
        width: 100%;
    }
    .sm-imgs img
    {
        width: 27% !important;
    }
    
    .product-details {
        padding: 12px 20px;
        font-size: 14px;
    }

  .product-name {
    font-size: 20px;
  }

  .availability,
  .product-location,
  .description-box {
    padding: 12px 15px;
  }
  .details-main
  {
    padding: 45px 20px;
  }
}


/* Header & Rental Top*/

@media (max-width: 680px) and (min-width:1px) {

    header .container {
        display: felx;
    }
    header
    {
      height: 100px;
    }
    header .container {
        padding: 2px 10px;
    }

    .logo img {
      scale: 0.4;
      margin-left: -38px;
    }

    header .search input {
        margin: 0;
        font-size: x-small;
    }

    header,
    header .dropdown .dropbtn {
        font-size: smaller;
    }

    nav {
        display: flex;
        width: 100%;
    }

    header nav a,
    header nav i{
        margin: 0;
    }

    .nav-btn {
        width: 30px;
        height: 30px;
        font-size: small;
        margin-left: 7px;
    }

    .container .search {
        margin: 15px 0 2px 0;
        position: relative;
    }

    header .search input {
        width: 110px;
        margin: 0;
        padding: 5px 7px;
        border-radius: 20px;
        border: 1px solid #ccc;
    }

    header .search p {
      font-size: 6px;
    }
    header .search i {
        position: absolute;
        right: 4px;
        top: 36%;
    }
}

@media (max-width: 700px) and (min-width:451px) {

    header .container {
        align-items: center;
        justify-content: center;
    }
    
    header .container {
        padding: 3px 17px;
    }
    
    .logo img {
        scale: 0.59;
        margin-left: -10px;
    }
    
    header .search input {
        margin: 0;
        font-size: x-small;
    }
    
    header,
    header .dropdown .dropbtn {
        font-size: x-small;
    }
    
    .nav-v {
        align-items: center;
        
    }
    
    header nav a,
    header nav i {
        margin: 0;
    }
    
    .nav-btn {
        width: 25px;
        height: 25px;
        font-size: x-small;
        margin-left: 7px;
    }
    
    header .container {
        height: 70px;
    }
    
    header .search {
        margin: 20px 3px 3px 0;
        position: relative;
    }
    
    header .search input {
        width: 120px;
        margin: 0;
        padding: 5px 7px;
        border-radius: 20px;
        border: 1px solid #ccc;
    }
    
    header .search p {
        color: red;
        visibility: hidden;
        font-size: 6px;
    }
    
    header .search i {
        position: absolute;
        right: 20px;
        top: 56%;
    }
}

@media(max-width:980px) and (min-width:701px){
    .logo img
    {
        scale: 0.7;
    }
    header .container {
        align-items: center;
        justify-content: center;
    }
    header .container {
        height: 70px;
    }
    
    .rentals {
        padding: 30px 0;
    }

    .rental-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 10px;
    }

    .rentals h2 {
        font-size: 20px;
        margin: 10px 0;
        opacity: 0;
    }

    .rentals p {
        padding: 0 15px;
    }

    .electronics-btn, .tools-btn, .clothes-btn, .music-btn {
        position: static;
        font-size: 14px;
        transform: translateX(0);
    }

    header .container .search {
        margin: 30px 3px 3px 15px;
        position: relative;
    }
    header .container .search i
    {
        position: absolute;
        top: 26%;
        right: 5%;
    }

    header .search input {
        width: 170px;
        margin: 0;
        padding: 5px 7px;
        border-radius: 20px;
        border: 1px solid #ccc;
    }

}

/* Footer */

@media (max-width:1095px)
{
    .footer-container, .footer-bottom
    {
        padding: 0 10px;
    }
    .footer-container
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        column-gap: 5px;
    }
}
@media(max-width:800px)
{
    footer .footer-container .footer-section .logo
    {
        width: 200px;
    }
    .footer-section, .footer-section p, .footer-section ul li a, .footer-section ul p
    {
        font-size: medium;
    }
    .footer-section ul li img, .footer-section ul
    {
        scale: 0.8;
    }
    .footer-section h4
    {
        margin-bottom: 4px;
    }
}
@media(max-width:630px)
{
    footer .footer-container .footer-section .logo
    {
        width: 150px;
    }
    .footer-section, .footer-section p, .footer-section ul li a, .footer-section ul p
    {
        font-size: small;
    }
    .footer-section ul li img, .footer-section ul
    {
        scale: 0.7;
    }
    .footer-section h4
    {
        margin-bottom: 4px;
    }
}
@media(max-width:530px)
{
    footer .footer-container .footer-section .logo
    {
        width: 125px;
    }
    .footer-section, .footer-section p, .footer-section ul li a, .footer-section ul p
    {
        font-size: x-small;
    }
    .footer-section ul li img, .footer-section ul
    {
        scale: 0.6;
    }
    .footer-section h4
    {
        margin-bottom: 4px;
    }
}

@media(max-width:450px)
{
    .footer-section h4
    {
        margin-bottom: 0 !important;
    }
    .footer-section, .footer-section p, .footer-section ul li a, .footer-section ul p
    {
        font-size: large;
    }
    footer .footer-container
    {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer-section
    {
        display: grid;
        justify-content: center;
        align-items: center;
        margin: 10px;
        flex: auto;
    }
    footer .logo
    {
        width: 200px !important;
        justify-self: center;
    }
    .footer-section ul li a
    {
        font-size: larger;
        text-align: center;
    }
    .footer-section ul li
    {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .footer-bottom
    {
        display: flex;
        justify-content: center;
    }
}