main {
    width: 100%;
    margin: 30px 0;
}

.product-details {
    color: white;
    background-color: #2E5077;
    padding: 16px 72px;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 12px;
}

.product-details p {
    margin-left: 20px;
    font-weight: 600;
    font-size: 18px;
}

.product-details a {
    text-decoration: none;
    color: #ffffff;
}

.details-main {
    padding: 0 5%;
    display: grid;
    justify-items: center;
    background-color: white;
}

.product-box {
    padding: 3% 1%;
    padding-bottom: 0 !important;
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 10%;
}

.porduct-img {
    display: flex;
    justify-content: center;
    border-radius: 16px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.178);
    width: 100%;
    height: 320px;
}
.porduct-img img
{
    width: 100%;
    height: 100%;
}

.product-box div img {
    border-radius: 16px;
}

.product-box .sm-imgs img {
    margin: 20px 0;
    width: 85px;
    height: 85px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.178);
}

.sm-imgs img {
    width: 22% !important;
    height: 100px !important;
}

.sm-imgs {
    display: flex;
    justify-content: space-around;
}

.condition {
    display: flex;
    justify-content: space-between;
}

.condition p {
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 9999px;
    color: #4B5563;
    background-color: #79D7BE26;
    font-size: 13px;
    width: 22%;
    height: 28px;
    text-align: center;
}

.product-name {
    margin-top: 15px;
    color: #2E5077;
    font-weight: 700;
    font-size: 24px;
}

.stars {
    margin: 5px 0;
    color: #FACC15;
}

.stars span {
    color: #4B5563;
    font-size: 14px;
    font-weight: 400;
}

.price-box {
    background-color: #F6F4F0;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 12px;
    margin: 30px 0;
    padding: 15px 24px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.177);
}

.price-box p {
    color: #2E5077;
    font-weight: 700;
    font-size: 24px;
}

.price-box span {
    color: #4B5563;
    font-size: 16px;
    font-weight: 500;
}

.availability,
.product-location {
    background-color: #F6F4F0;
    gap: 15px;
    border-radius: 12px;
    margin: 30px 0;
    padding: 15px 24px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.177);
}

.availability .h {
    color: #2E5077;
    font-size: 20px;
    font-weight: 600;
}

.availability div p {
    color: #374151;
    font-size: 15px;
    font-weight: 600;
    margin: 8px 0;
}

.date-box {
    border-radius: 8px;
    outline: none;
    border: 1px solid #E5E7EB;
    width: 249px;
    height: 35px;
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #111827;
    background-color: white;
    padding: 15px;
    display: flex;
    align-items: center;
}

.date {
    display: flex;
    align-items: center;
    gap: 30px;
}

.product-location p {
    font-size: 20px;
    font-weight: 600;
    color: #2E5077;
}

.product-location div i {
    color: #4B9FA6;
}

.product-location div span {
    color: #111827;
    font-size: 18px;
    font-weight: 500;
}

.product-location div p {
    color: #4B5563;
    font-size: 14px;
    font-weight: 400;
}

.location-map {
    color: #9CA3AF !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    width: 100%;
    height: 117px;
    margin: 20px 0;
    border-radius: 8px;
}

.btn-div {
    display: flex;
    justify-content: center;
}

.add-to-cart {
    margin: 20px 0;
    background-color: #2E5077;
    color: #ffffff;
    text-align: center;
    width: 250px;
    height: 40px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: ease-in-out 0.2s;
}

.add-to-cart:hover {
    background-color: #436fa1;
}

.description-div {
    display: flex;
    justify-content: center;
}

.description-box {
    width: 93%;
    background-color: #F6F4F0;
    gap: 15px;
    border-radius: 12px;
    margin: 30px 0 100px 0;
    padding: 15px 24px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.177);
}

.description-h {
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
}

.description-p {
    color: #374151;
    font-size: 15px;
    font-weight: 500;
}

.included {
    color: #2E5077;
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0;
}

.check-icon {
    color: #79D7BE;
    margin-right: 8px;
}

.included-p {
    color: #000000;
    margin: 8px;
    font-weight: 500;
}

.sm-img
{
    cursor: pointer;
    transition: ease 0.2s;
}

.sm-img:hover
{
    opacity: 0.9;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.4) !important;
}
.modal
{
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all ease-in-out 0.1s;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}
.modal.open
{
    opacity: 1;
    z-index: 999;
}
.inner-modal img {
    min-width: 400px;
    min-height: 400px;
    max-width: 90vw;
    max-height: 90vh;
}
.inner-modal div
{
    text-align: center;
    font-size: 20px;
}

.close-icon
{
    color: #000;
    cursor: pointer;
    transition: all ease 0.2s;
}
.close-icon:hover
{
    text-shadow: 3px 3px 5px #fff;
    cursor: pointer;
}
.cart-box
{
    position: relative;
}
#count
{
    position: absolute;
    z-index: 999;
    left: 60%;
    top: -12px;
    border-radius: 50%;
    background-color: #4DA1A9;
    padding: 3px 6px;
    color: #fff;
}